# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Gradle  directory
gradle

# Ignore Gradlew bat files
gradlew*

#Ignore IntelliJ IDEA project specific directory
.idea
